html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #476761;
    line-height: 1.65;
    padding-bottom: 1000px;
}

/*Latihan 1*/
.container-satu {
    
    display: flex;
    justify-content: center;
    width: 800px;
    margin: 50px auto;
    background-color:white;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 20px;
}


div{
    margin:10px;
   }
    .sidebar-satu{
    width: 1000px;
    text-align: center;
    background-color: #2D8681;
    background-blend-mode: color-burn;
    
    
    }
    .sidebar-dua{
    width: 1000px;
    text-align: left;
    padding-right: 20px;
    border-radius: 39px;
    }
    